.logout {
    background-image: url(../../zahler/images/logout.png) !important;
}

.refresh {
    background-image: url(../../zahler/images/refresh.png) !important;
}

.records_list {
    border: solid;
    text-align: right;
}

.records_list > thead > tr > th {
    border: solid;
    text-align: right;
}

.records_list > tbody > tr > td ~ td {
    border-left: solid;
    text-align: right;
}
